In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sn

In [55]:
star_df = pd.read_csv("6 class csv.csv")

In [56]:
star_df

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M
...,...,...,...,...,...,...,...
235,38940,374830.000000,1356.0000,-9.93,5,Blue,O
236,30839,834042.000000,1194.0000,-10.63,5,Blue,O
237,8829,537493.000000,1423.0000,-10.73,5,White,A
238,9235,404940.000000,1112.0000,-11.23,5,White,A
239,37882,294903.000000,1783.0000,-7.80,5,Blue,O

In [57]:
list(star_df.columns)

['Temperature (K)',
 'Luminosity(L/Lo)',
 'Radius(R/Ro)',
 'Absolute magnitude(Mv)',
 'Star type',
 'Star color',
 'Spectral Class']

In [63]:
star_df.rename(columns={"Star type":"star_type"},inplace=True)

In [64]:
list(star_df.columns)

['Temperature (K)',
 'Luminosity(L/Lo)',
 'Radius(R/Ro)',
 'Absolute magnitude(Mv)',
 'star_type',
 'Star color',
 'Spectral Class']

In [69]:
supergiants = star_df[star_df["star_type"]==4]

In [72]:
supergiants.count()

Temperature (K)           40
Luminosity(L/Lo)          40
Radius(R/Ro)              40
Absolute magnitude(Mv)    40
star_type                 40
Star color                40
Spectral Class            40
dtype: int64

In [73]:
whitedwarf = star_df[star_df["star_type"]==3]

In [75]:
whitedwarf.count()

Temperature (K)           40
Luminosity(L/Lo)          40
Radius(R/Ro)              40
Absolute magnitude(Mv)    40
star_type                 40
Star color                40
Spectral Class            40
dtype: int64

In [76]:
star_df.star_type.value_counts()

star_type
0    40
1    40
2    40
3    40
4    40
5    40
Name: count, dtype: int64

In [78]:
sn.barplot(x="star_type",y="Temperature (K)")

ValueError: Could not interpret input 'star_type'